<div class="topnav" id="myTopnav">
  <a href="/Word" class="active">Home</a>
  <a href="/Word">ContentsNews</a>
  <a href="./Contact">Contact</a>
  <div class="dropdown">
    <button class="dropbtn">Resources 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="./Pages/Resources/Koine_Resources_Books">Books</a>
      <a href="./Pages/Resources/Koine_Resources_Software">Software</a>
      <a href="./Pages/Resources/Koine_Resources_Online">Online</a>
      <a href="./Pages/Resources/Koine_Resources_Motivation">Motivation</a>
    </div>
  </div> 
  <a href="#about">About</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>